DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=technical_nest_test

# CORS - untuk development: gunakan *, untuk production: spesifik URL
# Contoh: http://localhost:3000,http://localhost:5173
CORS_ORIGIN=*
PORT=3000
